.budget-info-header {
   display: flex;
   align-items: center;
   font-weight: bold;
   margin-bottom: 1rem;
   gap: 0.5rem;
   justify-content: center;
}

.budget-info-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
   margin-bottom: 1rem;
}

.budget-status-text {
   font-size: 1rem;
   font-weight: 600;
   color: var(--text-color);
   line-height: 1;
   text-align: center;
}


.info-block {
   background: var(--card-bg);
      border: 1px solid var(--border-color);
   border-radius: 8px;
   padding: 0.75rem;
   text-align: center;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.info-title {
   font-size: 0.9rem;
   color: --var(--text-muted-color)
}

.info-amount {
   font-size: 1.4rem;
   font-weight: bold;
   margin: 0.25rem 0;
}

.info-subtitle {
   font-size: 0.75rem;
   color: #999;
}

.remaining-days-text {
   text-align: center;
   font-size: 0.85rem;
   color: var(--text-color);
}