* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}
.container{
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}