@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

:root {
  font-family: 'Underdog', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}